:root {
  --primary: #111111;
  --secondary: #d7b98a;
  --accent: #e5d0ab;
  --background: #f8f8f6;
  --surface: #ffffff;
  --text: #232323;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* NAVBAR */

.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #0d6efd !important;
}

/* HERO */
header {
  /* margin-top: 105px; */
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7b98a;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
}

/* TITULOS */
h2 {
  font-weight: bold;
  color: #232323;
}

/* Loader */

#pantalla-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    
    /* CAMBIA ESTO: 1.5s es el tiempo que tardará en volverse completamente transparente */
    transition: opacity 1.5s ease-in-out; 
}

.imagen-carga {
    max-width: 80%;     /* Evita que en celulares la imagen sea más grande que la pantalla */
    height: auto;       /* Mantiene la proporción original de la imagen */
    object-fit: contain;
    animation: latido 5s infinite ease-in-out;
}

/* Animación opcional de respiración para la imagen */
@keyframes latido {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

/* LOGO */
#logo {
  width: 120px;
}

/* TARJETAS PRODUCTOS */
.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  color: #0d6efd;
  font-size: 1.1rem;
  font-weight: bold;
}

/* BOTONES */
.btn-primary {
  border-radius: 8px;
  background-color: #f8f8f6;
  color: #232323;
}

.btn-primary:hover {
  transform: scale(1.03);
  background-color: #e5d0ab;
}

/* FORMULARIO */

.container-form{
  justify-content: left;
  align-items: center;
}

form label {
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
}

.form-control:focus {
  box-shadow: 0 0 10px rgba(13, 110, 253, 0.3);
}

.btn-enviar {
  margin-top: 20px;
}

/* QUIÉNES SOMOS */
img {
  max-width: 100%;
}

.shadow {
  border-radius: 15px;
}

/* FOOTER */
footer {
  margin-top: 50px;
  font-size: 0.95rem;
}

/* Botones */
.btn {
}

/* RESPONSIVE TABLET */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.2rem;
  }

  header p {
    font-size: 1rem;
  }

  .navbar-brand {
    font-size: 1.3rem;
  }
}

/* RESPONSIVE CELULAR */
@media (max-width: 576px) {
  header {
    min-height: 220px;
    padding: 20px;
  }

  header h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .card img {
    height: 200px;
  }
}
